@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

* {
  padding: 0px;
  font-family: 'Quattrocento Sans', sans-serif;
}

.app-container {
  background-color: black;
  color: white;
  min-height: 100vh;
  text-align: center;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  padding-top: 80px;
}

.banner {
  background-image: url('../src/banner.jpg');
  height: 270px;
  width: 480px;
}

input[type='text'] {
  display: block;
  padding: 10px;
  background-color: white;
  font-size: 20px;
  border: 1px black;
  border-radius: 5px;
  width: 50%;
  outline: none;
  margin-bottom: 20px;
  margin: auto;
}

.status {
  padding-top: 20px;
  font-size: 18px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  padding:20px;
}

.fullname {
  margin-bottom: 5px;
}

@media (1200px <= width < 1500px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding:20px;
  }
}

@media (900px <= width < 1200px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding:20px;
  }
}

@media (600px <= width < 900px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding:20px;
  }
}

@media (width < 600px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    padding:20px;
  }
}